# Seatwork 1.1 Practice Set 1
## Submitted by Hazel Anne Mozo

In [1]:
2**16 #2 raised to the power of 16

65536

In [3]:
2/5, 2/5.0 #divides 2 by 5 with and int and a float

(0.4, 0.4)

In [5]:
"spam" + "eggs" # concatenates two strings

'spameggs'

In [9]:
S = "ham" # assigns ham to var S
"eggs " + S #concatenates string to var S

'eggs ham'

In [11]:
S*5 #repeats S 5 times

'hamhamhamhamham'

In [13]:
S[:0] #wrong indexing on S var to get a char

''

In [15]:
"green %s and %s" % ("eggs", S) # uses old method to concatenate string

'green eggs and ham'

In [17]:
('x',)[0] #starts a tuple and calls the first element

'x'

In [19]:
('x','y')[1] # updates the tuple and calls the 2nd element

'y'

In [87]:
L = [1,2,3]+[4,5,6] #appends a list to a list
L

[1, 2, 3, 4, 5, 6]

In [59]:
L, L[:], L[:0], L[-2], L[-2:]
#calls the list
#another way of calling the list
#wrong way getting an element in the list
#calling an element but start from the "end"
#calling a subset of the list from the "end"

([1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3],
 [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3],
 [],
 2,
 [2, 3])

In [61]:
([1,2,3] + [4,5,6]) [2:4] #appends lists then calls out by index a subset. note that 2nd number is exclusive

[3, 4]

In [89]:
[L[2], L[3]]#creates a list by calling out by index a member of another list.

[3, 4]

In [91]:
L.reverse() #reverses the list by using the reverse function
L

[6, 5, 4, 3, 2, 1]

In [99]:
L.sort() #sorts the list by using the sort function
L

[1, 2, 3, 4, 5, 6]

In [79]:
L.index(1) #will tell you what's the index number of the number in the parenthesis

0

In [81]:
{'a':1, 'b':2} ['b'] #creates a dictionary, calls an element by key

2

In [101]:
D = {'x':1, 'y':2, 'z':3} # creates a dictionary

In [113]:
D['w'] = 0 #since no w in dictionary and a value was given, this adds w to D
D['x'] + D['w'] #calls out the values and performs calculation with them

1

In [123]:
D[(1,2,3)] = 4 #adds to dict with tuple key

In [125]:
D.keys() #tells you what the keys are without the values

dict_keys(['x', 'y', 'z', 'w', (1, 2, 3)])

In [127]:
D.values() #tells you what the values are without the keys

dict_values([1, 2, 3, 0, 4])

In [133]:
(1,2,3) in D #Instead of has_key (because this function is deprecated) we use the "in" operator

True

In [148]:
 [[]], ["", [], {}, None]

([[]], ['', [], {}, None])

# NUMBER 2

In [196]:
L = ['violin', 'viola', 'bass', 'contrabass'] #Define a list named L that contains four strings or numbers
L

['violin', 'viola', 'bass', 'contrabass']

In [152]:
L[17] #Attempt to index out of bounds. returns an error

IndexError: list index out of range

In [156]:
L[-17:34] #the slice was out of bounds. it showed the whole list because the list is within the specified number

['violin', 'viola', 'bass', 'contrabass']

In [200]:
L[3:1] #from 3 to 1 but we didn't specify direction and the default is 1 - nothing comes after - results in blank

[]

In [192]:
L[3:1]=['?'] # Attempt to perform L[3:1] = ['?'] added ? as part of the list on the 3rd index then since
L

['violin', 'viola', 'bass', '?', 'contrabass']

# NUMBER 3

In [299]:
L = ['this', 'is', 'a', 'new', 'list'] #created a new list. straightforward just created a list.
L

['this', 'is', 'a', 'new', 'list']

In [301]:
L.append(['a','list']) #assign a list as one of its elements. used append to add and element to the end of the list.
L

['this', 'is', 'a', 'new', 'list', ['a', 'list']]

In [303]:
L[4:5] = [] #Assign an empty list to a range. assigning an empty list to a range deletes that range.
L

['this', 'is', 'a', 'new', ['a', 'list']]

In [305]:
del L[4][0] #Delete an item in your list using the del statement
L

['this', 'is', 'a', 'new', ['list']]

In [307]:
del L[3:4] #Delete an entire range from your list.
L

['this', 'is', 'a', ['list']]

In [311]:
L[2:4]=3.0 #Assign a non-sequence value to a slice. this causes an error because you should assign a sequence to a slice.
L

TypeError: must assign iterable to extended slice

# Number 4

In [316]:
D = {'a':'with','b':'three','c':'entries'}
D

{'a': 'with', 'b': 'three', 'c': 'entries'}

In [318]:
D['d'] #this is an error because you called a key that is not in the dictionary

KeyError: 'd'

In [320]:
D['d'] = 'assign' #when you a assign to a nonexistent key, it adds it to the dictionary
D

{'a': 'with', 'b': 'three', 'c': 'entries', 'd': 'assign'}

# Number 5

In [381]:
L = [1,2,3]
L2 = [4,5,6]
D = {'a':1,'b':2,'c':3}
T = (1,2,3)
S1 = 'string'
S2 = 'cheese'

In [337]:
D + L #can't use + on mixed types

TypeError: unsupported operand type(s) for +: 'dict' and 'list'

In [359]:
L + L2 # + works if same type

[1, 2, 3, 4, 5, 6]

In [347]:
L + D # Does + work if one of the operands is a dictionary - no

TypeError: can only concatenate list (not "dict") to list

In [375]:
L.append([7,8,9]) #you can append a list to a list
L

[1, 2, 3, [7, 8, 9]]

In [377]:
L.append('string')
L

[1, 2, 3, [7, 8, 9], 'string']

In [387]:
S1+S2 #you can use + on two strings

'stringcheese'

In [389]:
L + L2 # + extends the first list (left operand) by the second list (right operand)

[1, 2, 3, 4, 5, 6]

# Number 6

In [394]:
S = 'four'
S[0][0][0][0] #shows first char

'f'

# Number 7

In [402]:
S = 'spam'

In [398]:
S

'spam'

In [410]:
S1 = S[0]+'l'+S[2:] #you can slice and concatenate
S1

'slam'

In [414]:
S[1]='l' #index assignment does not work

TypeError: 'str' object does not support item assignment